body{
	background-image: url("img/bg.jpg");
	font-family: Avantgarde, sans-serif;
}

h1{
	text-align: center;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
}

h4{
	text-align: center;
}

p{
	text-align: center;
	margin-left: 500px;
	margin-right: 500px;
}

ul{
	text-decoration: none;
	display: block;
}

a{
	color: white;
	text-decoration: none;
}

.klein{
	align-self: center;
	display: inline-block;
	padding: 14px 16px;
	background-color: #e98b03;
	text-align: center;
	margin-left: 752px;
	margin-top: 10px;
	opacity: 0.8;
	width: 370px;
}

img.nasi{
	margin-left: 10px;
}

.pictures{
	width: 377px;
	height: 250px;
	margin-top: 10px;
	margin-left: 763px;
}
